.THIS {
}

.THIS div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

.THIS div.gallery img {
    width: 100%;
    height: auto;
    width: 350px;
    height: 200px;
}

.THIS div.desc {
    padding: 15px;
    text-align: center;
}