.THIS {
}

.THIS > p {
    font-size: 14px;
    color: #CCCCCC;
    margin: 4px 0;
}

.THIS img {
	width: auto;
    height: auto;
    border-radius: 4px;
    margin: 2px;
}

.THIS .deleteButton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    margin-left: 30%;
    margin-top: 10px;
}

.THIS .container {
    position: relative ;
    width: 90%;
    margin-right: 3px;
}

.THIS .conImg {
    opacity: 0.5;
    position: relative;
    min-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100px;
}

.THIS .conImg:hover {
    opacity: 1.0;
    cursor: pointer;
}

.THIS .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background:none;
    border:none;
    margin:0;
}

.THIS .mainContainer {
    position: relative ;
    width: 70%;
    margin-right: 3px;
}

.THIS .mainConImg {
    position: relative;
    min-width: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
}